@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #183ea0;
    --secondary: #e3e9f8;
    --gris: #fafbff;
    --gris2: rgb(212, 0, 0) F;
}

.button-side.active {
    background-color: white;
    color: var(--primary);
}

.button-side {
    font-size: 80%;
    position: relative;
    display: flex;
    
    min-width: 100%;

}
.button-side::after {
    content: url(./assets/arrow.svg);
    position: absolute;
    right: 15px;
}

.buttontab.active {
    color: #183ea0;
    background-color: #ffffff;
}

.buttonedit::after {
    content: url(./assets/Edit.png);
    position: absolute;
    right: -5px;
    bottom: 4px;
}

.searchinput::after {
    content: url(./assets/search.png);
    position: absolute;
    left: 7px;
    bottom: 2px;
}

.pagination {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: end;
    font-weight: bold;
    color: var(--primary);
}
.pagebut {
    background-color: var(--gris);
    padding: 4px 11px;
    border-radius: 6px;
}
.pagebut:hover {
    background-color: var(--primary);
    color: #ffffff;
}
.prevbut {
    background-color: var(--gris);
    padding: 4px 11px;
    font-weight: 900;
    border-radius: 6px;
}
.prevbut:hover {
    background-color: var(--primary);
    color: #ffffff;
}
.nextbut {
    background-color: var(--gris);
    padding: 4px 11px;
    font-weight: 900;
    border-radius: 6px;
}
.nextbut:hover {
    background-color: var(--primary);
    color: #ffffff;
}

.activelink {
    background-color: var(--primary);
    color: #ffffff;
}
.activelink:hover {
    background-color: var(--gris);
    color: var(--primary);
}

/* toggle button */
.toggleContainer {
    width: 60px;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #ddd;
    padding: 0 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.toggleKnob {
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    line-height: 35px;
    transition: all 0.1s ease-in;
}

.toggleKnob.isActive {
    transform: translateX(24px);
}

.toggleContainer.isActive {
    background: #76ee59;
}

.loader {
    position: absolute;
    bottom: -90px;

    width: 50px;
    padding: 8px;
    margin-top: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #6b8ce6;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}
